<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Estes são os nossos canais
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none">
          <ion-icon name="at-circle-outline" slot="start"></ion-icon>
          <ion-label>
            <h2>atendimento@aho.net.br</h2>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="call-outline" slot="start"></ion-icon>
          <ion-label>
            <h2>atendimento@aho.net.br</h2>
          </ion-label>
        </ion-item>
       </ion-card-content>
    </ion-card>
</ion-content>
