<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-label>Um pouco sobre a AHO</ion-label>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
       Somos todos um, mas com muitas histórias de vida.
       Não vemos somente o caminhoneiro, mas todo o ambiente em que está inserido e a sua visão deste mundo inclusive. Usamos o termo AHO, como conceito para nos conectar com você, familiares e profissionais da saúde de um jeito profundo e significativo.
       Trabalhamos para transformar sua percepção de fragilidade e tensão em uma experiência que propicie crescimento e autoconhecimento.
       Desejamos ressignificar o momento vivido por você, por meio do acolhimento, do fortalecimento da autoestima, da saúde física e mental, e da valorização dos vínculos afetivos, profissionais e familiares.
      </p>

      <p>
       Pense na sua vida como uma cadeira com 4 pés:
       1 - Saúde Física: é o estado de completo bem-estar físico, mental e social, e não a ausência de doenças (OMS).
       2 – Saúde Mental: Conhecer a si mesmo é o começo de toda sabedoria.
       3 – Saúde Social: Estudos mostram que 58% do desempenho de qualquer profissional está relacionado com a Inteligência Emocional (IE) e comprovadamente é a habilidade do Século XXI.
       4 – Saúde Espiritual: Você conhece a sua saúde física, mental e social, mas ainda não aprendeu qual o seu papel, o seu propósito, qual o seu sonho?
      </p>

      <p>
       Conte conosco para promover o seu bem-estar e a humanizar as relações e o ambiente, na busca da realização dos seus objetivos profissionais e pessoais, com mais saúde e qualidade de vida!
      </p>
     </ion-card-content>
  </ion-card>
</ion-content>
